*{
    background-color:#6C4AB6;
    text-align: center;
    color: white;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 49px;
}

p{
    font-size:35px;
    font-family: 'Courier New', Courier, monospace;
}

.img1{
    height: 400px;
}